*{
			margin:0;
			padding:0;
		}
		#chatHeader{
			width: 100%; 
			clear: both; 
			display: inline-block; 
			height: 45px; 
			line-height: 45px; 
			background-color: #a9bdce; 
			padding: 0px; 
			margin: 0px;
		}
		#MAIN_CONTENTS{
			width: 100%; 
			clear: both; 
			display: inline-block; 
			
			background-color: #b2c7d9; 
			padding: 0px; 
			padding-left: 0px; 
			margin: 0px; 
			overflow-y: auto;
		}
		#textArea{
			width: 100%; 
			display: inline-block; 
			height: 50px; 
			background-color: white; 
			margin-top: -20px;
		}
		#inputP{
			width: 90%; 
			height: 100%; 
			padding: 0px; 
			margin: 0px; 
			float: left;
		}
		input{
			width: 100%; height: 100%; border: 2px solid black;
		}
		#sendP{
			width: 10%;
			height: 53px; 
			background-color: yellow; 
			padding: 0px; 
			margin: 0px; 
			float: left;
		}
		.divMy{
			float: right;
			padding-top: 3px; 
			padding-bottom: 3px; 
			padding-left: 8px; 
			padding-right: 8px; 
			background-color: #ffeb33; 
			border-radius: 7px;
			margin-right: 20px;
			margin-top: 20px;
		}
		.clear{
		  clear:both;
		}
		.divOther{
			float: left;
			padding-top: 3px; 
			padding-bottom: 3px; 
			padding-left: 8px; 
			padding-right: 8px; 
			background-color: white; 
			border-radius: 7px;
			margin-left: 20px;
			margin-bottom: 10px;
		}
		img{
			width: 33px; 
			height: 33px;
			margin-left:10px;
		}
		.chating{
			background-color: #b2c7d9;
			width: 100%;
			height: 712px;
			overflow: auto;
		}
		.chating .me{
			color: black;
			text-align: right;
		}
		.chating .others{
			color: black;
			text-align: left;
		}
		.fa-arrow-left{
			font-size: 16px; color: black; margin-right: 5px; margin-left: 5px;
		}
		.msgImg{
			width: 200px;
			height: 125px;
		}
		