#seat-table button {
	margin-left: 2px;
}

#seat-table>tbody>tr>td:nth-child(2)>button {
	margin-left: 30px;
}

.seat {
	display: inline-block;
	border: 1px solid #999;
	color: #999;
	width: 24px;
	height: 24px;
}


.seat-column-btn {
	display: inline-block;
	border: 1px solid #999;
	width: 24px;
	height: 24px;
	pointer-events: none;
	color: white;
	background-color: gray;
}

.hide {
	visibility: hidden;
}

.selected {
	background: orange;
}

.deleted {
	visibility: hidden;
}

.seat-xy {
	width: 50px;
}

.seat-container {
	border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
	margin: 5px;
	width: 630px;
}

#btn-group {
	display:flex;
}

#btn-group > .form__btn {
	margin-right: 8px;

}